html, body {
    height: 100%;
    margin: 0;
}
html {
    background-color: #222;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
section.scorelist {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100%;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
@keyframes appear {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes smallappear {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    letter-spacing: 1px;
    flex: 1 1 0px;
}
.pane:hover .go {
    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.pane.left {
    background-color: rgb(76, 80, 181);
    border: 15px rgb(62, 65, 139) solid;
}
.pane.left:hover {
    background-color: rgb(67, 71, 200);
    border-color: transparent;
}
.pane.right {
    background-color: rgb(179, 59, 59);
    border: 15px rgb(170, 82, 82) solid;
}
.pane.right:hover {
    background-color: rgb(201, 50, 50);
    border-color: transparent;
}
.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    transition: 0.5s all;

    animation-name: appear;
    animation-duration: 1.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.toppad {
    margin-bottom: 3rem;
}
.title {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	font-weight: 600;
    text-align: center;
	color: #201717;
    line-height: 2.5rem;
}
.subtitle {
	margin-bottom: 5rem;
	font-size: 1.4em;
	font-weight: lighter;
    text-align: center;
	color: #cfcfcf;
    line-height: 1.6rem;
}
.subtitle .lang2 {
    font-size: 1.2rem;
    letter-spacing: 2.5px;
}
#typeout-1 *::after,
#typeout-2 *::after {
    content: "_";
}
.description {
	margin-bottom: 1.5rem;
    font-size: 1.1rem;
	font-weight: lighter;
    text-align: center;
    color: #c4c4c4;
    letter-spacing: 3px;
}
.go {
    margin-bottom: 2rem;
    font-size: 5em;
    color: #c4c4c4;
    letter-spacing: .5px;
    line-height: 0;
}
.go::before {
    content: "»";
}

section.intro {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
section.intro .bg {
    background-image: url(/img/lksco.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.sep {
    margin: 1.5rem;
    width: 150px;
    height: 2.5px;
    background-color: #cfcfcf;
    border-radius: 5px;
}
.links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.lnk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    transition: 0.3s all;
}
.lnk:hover {
    transform: scale(1.05);
    filter: brightness(3);
    background-color: rgba(200, 200, 200, 0.2);
}
.lnk img {
    width: 100px;
    height: auto;
}
.webname {
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;
    white-space: nowrap;
    color: #cfcfcf;
    line-height: 1.6rem;
}
.webname .lang2 {
    font-size: 1.2rem;
    letter-spacing: 2.5px;
}

.lang1 ~ .lang2 {
	margin-top: 0.3rem;
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 2.5rem;
        line-height: 2.2rem;
    }
}

@media screen and (max-width: 730px) {
    .title {
        margin-bottom: 1rem;
    }
    section.scorelist {
        flex-direction: column;
    }
    .links {
        flex-direction: column;
    }
    .wrapper {
        animation-name: smallappear;
        animation-duration: 1.8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}
